.App {
  text-align: center;
}

.topBreakdown {
  display: flex;
  flex-direction: row;
  justify-content: center;


}
.infoHolder {
  margin:0 15px;
  width:20%;
  border:5px solid black;
}

.infoLabels {
  font-weight: bold;
}
.smallWriting {
  font-size: 25%;
  font-style: italic;
}
.notesHolder {
  margin:30px 60px;
}
.nationalInfoHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
  background-color: red;
  height:100px;
}

.nationalDivHolders{
  display: flex;
  flex-direction: row;
}
.individualNationInfoDivs{
  margin:0 10px;
  width:20%;
  color:ghostWhite;
  border-left: 1px solid ghostWhite;
  border-right: 1px solid ghostWhite;
}

h5 {
  font-size: 1.1em;
  margin-top:5px;
  margin-bottom: 15px;
  height:32px;
}

.individualNationInfoDivs p {
  font-weight: 500;
  font-size: 1.2em;
}
