.App {
  text-align: center;
}

.topBreakdown {
  display: flex;
  flex-direction: row;
  justify-content: center;


}
.infoHolder {
  margin:0 15px;
  width:15%;
  border:5px solid black;
}

.infoLabels {
  font-weight: bold;
}
